[submodule ".vim/bundle/tlib_vim"]
	path = .vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule ".vim/bundle/auto-pairs"]
	path = .vim/bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/vim-addon-mw-utils"]
	path = .vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils
[submodule ".vim/bundle/vim-snippets"]
	path = .vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/bundle/vim-hemisu"]
	path = .vim/bundle/vim-hemisu
	url = https://github.com/noahfrederick/vim-hemisu
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/bundle/vim-molokai"]
	path = .vim/bundle/vim-molokai
	url = https://github.com/tomasr/molokai.git
[submodule ".vim/bundle/vim-monokai"]
	path = .vim/bundle/vim-monokai
	url = https://github.com/sickill/vim-monokai.git
[submodule ".vim/bundle/vim-darkmate"]
	path = .vim/bundle/vim-darkmate
	url = https://github.com/yearofmoo/Vim-Darkmate.git
[submodule ".vim/bundle/vim-scala"]
	path = .vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule ".vim/bundle/vim-hybrid"]
	path = .vim/bundle/vim-hybrid
	url = https://github.com/w0ng/vim-hybrid.git
[submodule ".vim/bundle/vim-neocomplete"]
	path = .vim/bundle/vim-neocomplete
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule ".vim/bundle/vim-nerdcommenter"]
	path = .vim/bundle/vim-nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/vim-colors-base16"]
	path = .vim/bundle/vim-colors-base16
	url = https://github.com/chriskempson/base16-vim.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule ".vim/bundle/vim-taglist"]
	path = .vim/bundle/vim-taglist
	url = https://github.com/tisyang/taglist
[submodule ".vim/bundle/vim-rust"]
	path = .vim/bundle/vim-rust
	url = https://github.com/rust-lang/rust.vim.git
